<head>
        <link rel="stylesheet" href="stylesheets/noticia1.css">
</head>
<section id="hola">
        <div class="container">
                <section id="principal">
                        <div class="row">
                                <div class="col-lg-8">
                                        <div class="row">
                                                <div class="col-lg-12 desarrolllada">
                                                        <figure>
                                                                <h2 id="titulo">Convocados vs Benavidez R.S</h2>
                                                                <small id="Subtitulo">Enterate la nomina de convocados por Garayaldde, para el partido del sabado por la tarde ante Benavidez Ranch Sport y buscar los 3 puntos de Local.</small>
                                                                <div class="img">
                                                                        <img src="images/image.jpg"
                                                                                alt="foto festejo"
                                                                                style="margin-bottom:20px; margin-top:20px;"
                                                                                height="480px">
                                                                </div>
                                                        </figure>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </section>
        </div>
</section>
        