<head>
        <link rel="stylesheet" href="stylesheets/noticia1.css">
</head>
<h2 id="hola">
         <img src="images/citacionsub23.jpeg" alt="formacion vs nordelta" height="500px">
        <img src="images/formacion.png" alt="formacion vs nordelta" height="500px">
</h2>