<head>
        <link rel="stylesheet" href="stylesheets/citaciones.css">
</head>
    <div id="noticias">
        <div class="row row-cols-1 row-cols-md-3 g-4" id="cartas">
            <div class="col">
                <a href="/citacion1" class="btn">
                    <div class="card h-100">
                        <img src="images/vslanegra2.jpg" class="card-img-top" height="250px">
                        <div class="card-body">
                            <h5 class="card-title"><strong> Primera Vs La Negra</strong></h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">Sabado 20/05/2023</small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/citacion2" class="btn">
                    <div class="card h-100">
                        <img src="images/vsvilo2.jpg" class="card-img-top" height="250px">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Sub-23 Vs Vilo</strong> </h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">Miercoles 24/05/2023</small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/citacion3" class="btn">
                    <div class="card h-100">
                        <img src="images/convocados3.jpg" class="card-img-top" height="250px">
                        <div class="card-body">
                            <h5 class="card-title"><strong> Juveniles Vs Afalp</strong></h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">Sabado 20/05/2023</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>