<head>
        <link rel="stylesheet" href="stylesheets/fotos.css">
</head>
    <div class="container text-center" id="fotos">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img class="card-img" src="images/IMG_5628.jpg" alt="fotosvslanegra">
                    <div class="card-body" style="color: #fff;">
                        <h2 class="card-title"> Fotos vs La Negra</h2>
                        <p class="card-sub-title"> Primera / Fecha 9 - Aifa</p>
                        <a href="/fotos1">
                            <button class="card-btn">Ver las Fotos</button></a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="images/vschasqui.jpg" alt="fotosvslanegra">
                    <div class="card-body" style="color: #fff;">
                        <h2 class="card-title"> Fotos vs Chasqui</h2>
                        <p class="card-sub-title"> Primera / Fecha 3 - Aifa</p>
                        <a href="/fotos4">
                            <button class="card-btn">Ver las Fotos</button></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img" src="images/vstrovador.jpg" alt="fotosvslanegra">
                    <div class="card-body" style="color: #fff;">
                        <h2 class="card-title"> Fotos vs Trovador</h2>
                        <p class="card-sub-title"> Primera / Fecha 7 - Aifa</p>
                        <a href="/fotos2">
                            <button class="card-btn">Ver las Fotos</button></a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="images/vsrhino.jpg" alt="fotosvslanegra">
                    <div class="card-body" style="color: #fff;">
                        <h2 class="card-title"> Fotos vs Rhino</h2>
                        <p class="card-sub-title"> Sub 23 / Final - Lide</p>
                        <a href="/fotos5">
                            <button class="card-btn">Ver las Fotos</button></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img" src="images/vsitaliano.jpg" alt="fotosvslanegra">
                    <div class="card-body" style="color: #fff;">
                        <h2 class="card-title"> Fotos vs Italiano</h2>
                        <p class="card-sub-title"> Primera / Recopa - Aifa</p>
                        <a href="/fotos3">
                            <button class="card-btn">Ver las Fotos</button></a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="images/ultimafecha.jpg" alt="fotosvslanegra">
                    <div class="card-body" style="color: #fff;">
                        <h2 class="card-title"> Fotos vs Italiano</h2>
                        <p class="card-sub-title"> 2022 / Ultima Fecha - Aifa</p>
                        <a href="/fotos6">
                            <button class="card-btn">Ver las Fotos</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>