<head>
        <link rel="stylesheet" href="stylesheets/fotos1.css">
</head>

<body id="galeriaDeFotos">
        <h2 id="galeria">Galeria de imagenes vs La negra</h2>
        <section class="photos" id="conteiner-fotos">
                <article class="gallery">
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5559.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5559.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5560.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5560.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5561.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5561.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5562.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5562.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5564.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5564.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5565.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5565.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5566.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5566.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5567.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5567.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5568.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5568.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5570.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5570.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5571.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5571.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5572.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5572.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5574.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5574.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5575.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5575.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5578.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5578.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5579.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5579.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5582.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5582.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5583.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5583.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5585.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5585.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5586.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5586.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5587.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5587.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5588.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5588.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5589.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5589.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5590.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5590.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5591.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5591.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5593.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5593.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5576.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5576.jpg" alt="">
                                </a>
                                <div class="img" id="hor">
                                        <a href="images/fotosVsLanegra/IMG_5594.jpg">
                                                <img src="images/fotosVsLanegra/IMG_5594.jpg" alt="">
                                        </a>

                                </div>

                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5596.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5596.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5597.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5597.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5598.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5598.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5599.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5599.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5600.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5600.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5601.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5601.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5602.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5602.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5603.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5603.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5604.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5604.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5605.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5605.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5606.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5606.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5607.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5607.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5608.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5608.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5609.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5609.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5610.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5610.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5611.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5611.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5613.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5613.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5614.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5614.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5615.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5615.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5616.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5616.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5617.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5617.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5618.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5618.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5595.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5595.jpg" alt="">
                                </a>
                                <div class="img" id="hor">
                                        <a href="images/fotosVsLanegra/IMG_5619.jpg">
                                                <img src="images/fotosVsLanegra/IMG_5619.jpg" alt="">
                                        </a>
                                </div>
                        </div>

                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5621.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5621.jpg" alt="">
                                </a>
                                <div class="img" id="hor">
                                        <a href="images/fotosVsLanegra/IMG_5622.jpg">
                                                <img src="images/fotosVsLanegra/IMG_5622.jpg" alt="">
                                        </a>
                                </div>
                        </div>

                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5624.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5624.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5625.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5625.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5626.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5626.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5627.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5627.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5628.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5628.jpg" alt="">
                                </a>
                                <div class="img" id="hor">
                                        <a href="images/fotosVsLanegra/IMG_5631.jpg">
                                                <img src="images/fotosVsLanegra/IMG_5631.jpg" alt="">
                                        </a>
                                </div>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5630.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5630.jpg" alt="">
                                </a>
                                <div class="img" id="hor">
                                        <a href="images/fotosVsLanegra/IMG_5632.jpg">
                                                <img src="images/fotosVsLanegra/IMG_5632.jpg" alt="">
                                        </a>
                                </div>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5634.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5634.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5635.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5635.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5636.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5636.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5637.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5637.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5638.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5638.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5640.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5640.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5641.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5641.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5642.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5642.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5643.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5643.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5644.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5644.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5645.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5645.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5646.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5646.jpg" alt="">
                                </a>
                                <div class="img" id="hor">
                                <a href="images/fotosVsLanegra/IMG_5660.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5660.jpg" alt="">
                                </a>
                                </div>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5647.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5647.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5648.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5648.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5649.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5649.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5650.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5650.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5651.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5651.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5652.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5652.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5653.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5653.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5654.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5654.jpg" alt="">
                                </a>
                        </div>

                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5655.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5655.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5656.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5656.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5657.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5657.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5658.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5658.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5659.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5659.jpg" alt="">
                                </a>
                        </div>
                        
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5663.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5663.jpg" alt="">
                                </a>
                                <div class="img" id="hor">
                                        <a href="images/fotosVsLanegra/IMG_5664.jpg">
                                                <img src="images/fotosVsLanegra/IMG_5664.jpg" alt="">
                                        </a>
                                </div>
                        </div>

                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5665.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5665.jpg" alt="">
                                </a>
                                <div class="img" id="hor">
                                <a href="images/fotosVsLanegra/IMG_5669.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5669.jpg" alt="">
                                </a>
                                </div>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5666.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5666.jpg" alt="">
                                </a>
                                                        <div class="img" id="hor">
                                <a href="images/fotosVsLanegra/IMG_5668.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5668.jpg" alt="">
                                </a>
                                </div>
                        </div>


                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5670.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5670.jpg" alt="">
                                </a>
                                                        <div class="img" id="hor">
                                <a href="images/fotosVsLanegra/IMG_5667.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5667.jpg" alt="">
                                </a>
                                </div>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5672.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5672.jpg" alt="">
                                </a>
                        </div>

                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5674.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5674.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5675.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5675.jpg" alt="">
                                </a>
                        </div>

                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5676.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5676.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5677.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5677.jpg" alt="">
                                </a>
                                <div class="img" id="hor">
                                        <a href="images/fotosVsLanegra/IMG_5680.jpg">
                                                <img src="images/fotosVsLanegra/IMG_5680.jpg" alt="">
                                        </a>
                                </div>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5678.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5678.jpg" alt="">
                                </a>
                        </div>
                        <div class="img">
                                <a href="images/fotosVsLanegra/IMG_5679.jpg">
                                        <img src="images/fotosVsLanegra/IMG_5679.jpg" alt="">
                                </a>
                        </div>




                </article>
        </section>
</body>