<head>
        <link rel="stylesheet" href="/stylesheets/sitio.css">
</head>
<div id="home" class="row  hero">
    <div class="col-lg-3 offset-lg-2">
    </div>
</div>
<div class="container text-center" id="pagPrincipal">
    <div class="row">
        <div class="col-8" id="noticias">
            <h5><strong>Noticias</strong></h5>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-slide="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <button class="btn" type="button">
                            <img src="images/convocados1chica.jpg" class="d-block w-100" height="375px" id="fotos">
                            <div class="carousel-caption d-none d-md-block" id="carusel">
                                <p>Aifa - Convocados para enfrentar a Galicia</p>
                            </div>
                        </button>
                    </div>
                    <div class="carousel-item">
                        <button class="btn" type="button">
                            <img src="images/convocados3.jpg" class="d-block w-100" height="375px" id="fotos">
                            <div class="carousel-caption d-none d-md-block" id="carusel">
                                <p>Sub 23 - Convocados ante Tocalli B</p>
                            </div>
                        </button>
                    </div>
                    <div class="carousel-item">
                        <button class="btn" type="button">
                            <img src="images/resultado1.jpg" class="d-block w-100" height="375px" id="fotos">
                            <div class="carousel-caption d-none d-md-block" id="carusel">
                                <p>Resultado y Resumen contra Galicia.</p>
                            </div>
                        </button>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-4">
            <div class="container" id="Fixture">
                <h5 id="proximoPartido"><strong>Proximos partidos</strong></h5>
                <section id="partidos" style="margin-bottom: -20px !important;">
                    <div id="proximo">
                        <strong>Bco. Ciudad</strong> <strong> 0 - 4 </strong> La Negra
                        <div>
                            <span>
                                <img src="images/escudociudad2.png" alt="escudo ciudad" id="escudos">
                            </span>
                            <span>
                                <img src="images/lanegra.png" alt="escudo provincia" id="escudos">
                            </span>
                            <span id="infopartido">
                                <p>
                                    <strong> Fecha 9 - Primera</strong>
                                    <br> Roja: Griolli, Marco
                                </p>
                            </span>
                        </div>
                        <div id="partidos2">
                            <strong>Bco. Ciudad</strong> Vs Libertador
                            <div>
                                <span>
                                    <img src="images/escudociudad2.png" alt="escudo ciudad" id="escudos">
                                </span>
                                <span>
                                    <img src="images/libertador.png" alt="escudo trovador" id="escudos">
                                </span>
                                <span id="infopartido">
                                    <p>
                                        <strong>Fecha 2 - Sub 23</strong>
                                        <br>Viernes 19/05/2023 - <strong id="suspendido">Suspendido</strong> <img
                                            src="images/rain.png" width="14px" height="14px ">
                                    </p>
                                </span>
                            </div>
                        </div>
                        <div id="partidos3">
                            Afalp Vs <strong>Bco. Ciudad</strong>
                            <div>
                                <span>
                                    <img src="images/afalp.png" alt="escudo ciudad" id="escudos">
                                </span>
                                <span>
                                    <img src="images/escudociudad2.png" alt="escudo provincia" id="escudos">
                                </span>
                                <span id="infopartido">
                                    <p>
                                        <strong> Fecha 5 - Juveniles</strong>
                                        <br>Sabado 20/05/2023 - <strong id="suspendido">Suspendido</strong> <img
                                            src="images/rain.png" width="14px" height="14px ">
                                    </p>
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>