<head>
        <link rel="stylesheet" href="stylesheets/noticia1.css">
</head>
<section id="hola">
        <div class="container">
                <section id="principal">
                        <div class="row">
                                <div class="col-lg-8">
                                        <div class="row">
                                                <div class="col-lg-12 desarrolllada">
                                                        <figure>
                                                                <h2 id="titulo">Ciudad ganó bien y se acomodo en la
                                                                        tabla</h2>
                                                                <small id="Subtitulo">El conjunto Blanquinegro logro
                                                                        hacerse fuerte de local y vencer al Centro
                                                                        Galicia en un partido trabado, que se resolvio
                                                                        mediante la pelota parada.</small>
                                                                <div class="img">
                                                                        <img src="images/primera4.jpg"
                                                                                alt="foto festejo"
                                                                                style="margin-bottom:20px; margin-top:20px;"
                                                                                height="450px">
                                                                </div>
                                                                <figcaption>
                                                                        <div class="wrapper" id="wrappertext">
                                                                                <p>Lorem ipsum dolor sit amet
                                                                                        consectetur adipisicing elit.
                                                                                        Amet distinctio illum fugiat,
                                                                                        officia alias laborum.
                                                                                        Aspernatur nisi, quasi ducimus
                                                                                        accusamus saepe reprehenderit
                                                                                        veritatis eveniet iure ullam,
                                                                                        natus, distinctio reiciendis.
                                                                                        Impedit?</p>
                                                                                <p>Lorem ipsum dolor sit, amet
                                                                                        consectetur adipisicing elit.
                                                                                        Sapiente, consequatur rerum
                                                                                        saepe sunt veniam facere, vitae
                                                                                        ducimus quis non odio explicabo
                                                                                        deleniti sit sequi perspiciatis
                                                                                        debitis veritatis? Distinctio,
                                                                                        quos. Iure.</p>
                                                                                <p>Lorem ipsum dolor sit amet
                                                                                        consectetur adipisicing elit.
                                                                                        Maxime laboriosam facilis ipsa
                                                                                        ab, impedit corporis quaerat
                                                                                        modi ducimus repellat aliquam
                                                                                        laborum quas amet soluta
                                                                                        mollitia incidunt veniam, error
                                                                                        ipsam commodi?</p>
                                                                        </div>
                                                                </figcaption>
                                                        </figure>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-lg-4">
                                        <h3 id="titulo">Goles y sintesis</h3>
                                        <div class="panel-group goles">
                                                <div class="panel">
                                                        <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                        <span id="minuto" class="min">20'</span>
                                                                        <span id="jugador" class="pyer">Marco
                                                                                Grioli</span>

                                                                </h4>
                                                                <h4 class="panel-title">
                                                                        <span id="minuto" class="min">70'</span>
                                                                        <span id="jugador" class="pyer">Nicolas
                                                                                Ronci</span>
                                                                </h4>
                                                        </div>
                                                </div>
                                        </div>
                                        <p><strong>Sintesis</strong></p>
                                        <p><Strong>BANCO CIUDAD:</Strong>
                                                Tomas Rodriguez; Marco Grioli (C), Pedro Osado, Nicolas Ronci, Bruno
                                                Soracco; Agustin Castello, Facundo Cesario, Matias Miranda; Agustin
                                                Dhers, Juan Grandi y Santiago Moreno.
                                                <br><strong> DT:</strong> Leonardo Garayalde. <strong> PF:</strong>
                                                Miguel Rios.
                                                <br>
                                        <p><strong>Suplentes:</strong>
                                                Marcos Curcio, Lautaro Cesario, Ignacio Quintian, Bruno Landi, Nicolas
                                                Del Prete, Felipe Outeiral, Augusto Quintian y Tomas Romeo.
                                                <br>
                                                <Strong>Cambios:</Strong>
                                                Landi por Miranda, Quintian A. por Grandi, Outeiral por Dhers y Cesario
                                                L. por Ronci.
                                        </p>
                                        <p><Strong>Amonestados:</Strong>
                                                Grioli, Osado, Castello y Grandi.</p>
                                        </p>

                                </div>
                        </div>
                </section>
        </div>
</section>