    <head>
            <link rel="stylesheet" href="stylesheets/noticias.css">
    </head>
    <div id="noticias">
        <h5 id="ultimas"><strong> Ultimas Noticias</strong></h5>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6">
                    <a href="/noticia1" class="btn">
                        <div class="card mb-3">
                            <img src="images/resultado1.jpg" class="card-img-top" height="280px" id="fotos">
                            <div class="card-body" id="info-noticia">
                                <h5 class="card-title"><strong> Banco Ciudad Vs Galicia</strong></h5>
                                <p class="card-text"> Resumen del partido ante Galicia. El blanquinegro se impuso por 2
                                    tantos contra 1, gracias a los goles de Nicolas, el pollo, Ronci y Marco Griolli.
                                </p>
                                <p class="card-text"><small class="text-body-secondary">Sabado 20/04/2022</small></p>
                            </div>
                        </div>
                    </a>
                    <a href="/noticia3" class="btn">
                        <div class="card mb-3">
                            <img src="images/sub23campeon2.jpg" class="card-img-top" height="280px" id="fotos">
                            <div class="card-body" id="info-noticia">
                                <h5 class="card-title"><strong> Sub 23 Campeon</strong></h5>
                                <p class="card-text"> En un encuentro cerrado, que se definio desde los 12 pasos, la
                                    Sub-23 vencio a Rhino y grito Campeon!</p>
                                <p class="card-text"><small class="text-body-secondary">Sabado 14/11/2022</small></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                    <a href="/noticia2" class="btn">
                        <div class="card mb-3">
                            <img src="images/geba4ta2.jpg" class="card-img-top" height="280px" id="fotos">
                            <div class="card-body" id="info-noticia">
                                <h5 class="card-title"><strong>La 4ta se juega la final ante Geba</strong></h5>
                                <p class="card-text">El 30 de Noviembre a las 20.30 el elenco Blanquinegro, visita Geba
                                    en una nueva Final.</p>
                                <p class="card-text"><small class="text-body-secondary">Miercoles 30/11/2022</small></p>
                            </div>
                        </div>
                    </a>
                    <a href="/noticia4" class="btn">
                        <div class="card mb-3">
                            <img src="images/madero.jpg" class="card-img-top" height="280px" id="fotos">
                            <div class="card-body" id="info-noticia">
                                <h5 class="card-title"><strong> Volvemos a Madero</strong></h5>
                                <p class="card-text"> Este sabado la primera recibe en Madero a Santa Barbara por la
                                    Recopa Aifa. Los esperamos.</p>
                                <p class="card-text"><small class="text-body-secondary">Sabado 30/04/2022</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>