<head>
        <link rel="stylesheet" href="stylesheets/noticia1.css">
</head>
<p id="hola">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit doloribus porro distinctio ratione dolorum eius nulla, odit magnam doloremque commodi minima recusandae eveniet harum aperiam. Aut magni unde maxime cumque. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, numquam, quidem nulla consequuntur pariatur labore id modi ipsa quod aperiam autem. Aspernatur architecto suscipit ducimus magnam, quia debitis voluptates eius?</p>