<head>
        <link rel="stylesheet" href="stylesheets/redsocial.css">
</head>
    <div class="container-fluid text-center" id="publis">
        <iframe
            src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid0J7L89b7jtd3VkKFWg4HVYeV9nkBwKXbETFNx8oMG5DmanbMDwbZyTXWPmX4QDYrEl%26id%3D100064001324800&show_text=true&width=500"
            id="publicaciones" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <iframe id="publicaciones" src="https://www.instagram.com/p/ClHH8YvpKoq/embed" frameborder="0"></iframe>
        <iframe id="publicaciones" src="https://www.instagram.com/p/Csd-WaJuLr5/embed" frameborder="0"></iframe>
        <iframe id="publicaciones" src="https://www.instagram.com/p/Ci-QR3qu3l9/embed" frameborder="0"></iframe>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid0cToSLzX2hzjZx1KkqfNDFvhZRf7rNcuPdbKGJacYStUuJDKRwRsMWCHtuEjXpuf3l%26id%3D1818712295048284&show_text=true&width=500" id="publicaciones" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <iframe id="publicaciones" src="https://www.instagram.com/p/ChgOge6MGxB/embed" frameborder="0"></iframe>
        <iframe id="publicaciones" src="https://www.instagram.com/p/ClfFgjxpDOv/embed" frameborder="0"></iframe>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid02T6hVd8xkLDJe3wG4zB5VxT6EvpFT9AMtnhd5NKiqJEowU6ZZWAgR7r66FjJo4u93l%26id%3D100064001324800&show_text=true&width=500" id="publicaciones" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <iframe id="publicaciones" src="https://www.instagram.com/p/Cc9VEo4M6Cc/embed" frameborder="0"></iframe>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid02j9VjqEvnzNZ3QKi6apucX2oRTYk2MCruqgaLk95fXaufsTwdf4Kmz6PhB7FJ3Thql%26id%3D1818712295048284&show_text=true&width=500" id="publicaciones" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>