<head>
    <link rel="stylesheet" href="stylesheets/sub23.css">
</head>
<div id="home" class="row  hero">
    <div class="col-lg-3 offset-lg-2">
    </div>
</div>
<div class="container text-center" id="tabla">
    <div class="row">
        <div class="col-6">
            <h5 style="text-align: left ;"> <strong> Posiciones Lide - Copa Oro</strong></h5>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Equipo</th>
                            <th scope="col">Pts</th>
                            <th scope="col">PJ</th>
                            <th scope="col">Pg</th>
                            <th scope="col">Pe</th>
                            <th scope="col">Pp</th>
                            <th scope="col">Gf</th>
                            <th scope="col">Gc</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="Pos1">
                            <th scope="row">1</th>
                            <td>Nordelta</td>
                            <td>3</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>2</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Italiano</td>
                            <td>3</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>2</td>
                            <td>1</td>
                        </tr>
                        <tr id="Pos1">
                            <th scope="row">3</th>
                            <td>Rhino</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Tocalli</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr id="Pos1">
                            <th scope="row">5</th>
                            <td>Harrod's</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Vilo</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr id="Pos1">
                            <th scope="row">7</th>
                            <td><strong>Bco. Ciudad</strong></td>
                            <td><strong>1</strong></td>
                            <td><strong>1</strong></td>
                            <td><strong>0</strong></td>
                            <td><strong>1</strong></td>
                            <td><strong>0</strong></td>
                            <td><strong>1</strong></td>
                            <td><strong>1</strong></td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Delta</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr id="Pos1">
                            <th scope="row">9</th>
                            <td>Trovador</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>Sta Barbara</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr id="Pos1">
                            <th scope="row">11</th>
                            <td>Florida</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th scope="row">12</th>
                            <td>Libertador</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="goleadores">
                <h5 id="proximoPartido"><strong>Goleadores (Incluida Fase clasificatoria)</strong></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Jugador</th>
                            <th scope="col">Goles</th>
                            <th scope="col">Partidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Pascual, Felipe</td>
                            <td>2</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Outeiral, Felipe</td>
                            <td>1</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Quintian, Ignacio</td>
                            <td>1</td>
                            <td>5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="container" id="Fixture">
                <h5 id="proximoPartido"><strong>Partidos</strong></h5>
                <div class="row" id="proximo" style="margin-bottom: -20px !important;">
                    <div class="col-sm-6 col-md-5 col-lg-6">
                        <section>
                            <div>
                                <div id="partidos">
                                    Circulo Trovador <strong> 1 - 1 </strong><strong>Bco. Ciudad</strong>
                                    <span>
                                        <img src="images/trovador.png" alt="escudo trovador" id="escudos">
                                    </span>
                                    <span>
                                        <img src="images/escudociudad2.png" alt="escudo ciudad" id="escudos">
                                    </span>
                                    <span id="infopartido">
                                        <p>
                                            <strong> Fecha 1 - Visitante</strong>
                                            <br>Goles: Quintian, Ignacio <img src="images/pelota.png"
                                                alt="pelota futbol" width="14px" height="14px">
                                        </p>
                                    </span>
                                </div>
                                <div id="partidos2">
                                    <strong>Bco. Ciudad</strong> Vs Libertador
                                    <div>
                                        <span>
                                            <img src="images/escudociudad2.png" alt="escudo ciudad" id="escudos">
                                        </span>
                                        <span>
                                            <img src="images/libertador.png" alt="escudo libertador" id="escudos">
                                        </span>
                                        <span id="infopartido">
                                            <p>
                                                <strong>Fecha 2 - Local</strong>
                                                <br>Viernes 19/05/2023 - <strong id="suspendido">Suspendido</strong>
                                                <img src="images/rain.png" width="14px" height="14px ">
                                            </p>
                                        </span>
                                    </div>
                                </div>
                                <div id="partidos3">
                                    Vilo Vs <strong>Bco. Ciudad</strong>
                                    <div>
                                        <span>
                                            <img src="images/vilo.png" alt="escudo vilo" id="escudos">
                                        </span>
                                        <span>
                                            <img src="images/escudociudad2.png" alt="escudo ciudad" id="escudos">
                                        </span>
                                        <span id="infopartido">
                                            <p>
                                                <strong> Fecha 3 - Visitante</strong>
                                                <br>Viernes 26/05/2023 - 21.30
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                        <section>
                            <div id="partidos">
                                <strong>Bco. Ciudad</strong> Vs Florida
                                <div>
                                    <span>
                                        <img src="images/escudociudad2.png" alt="escudo ciudad" id="escudos">
                                    </span>
                                    <span>
                                        <img src="images/Florida.png" alt="escudo florida" id="escudos">
                                    </span>
                                    <span id="infopartido">
                                        <p>
                                            <strong> Fecha 4 - Local</strong>
                                            <br> Viernes 02/06/2023 - 21.15
                                        </p>
                                    </span>
                                </div>
                                <div id="partidos2">
                                    Sta. Barbara Vs <strong>Bco. Ciudad</strong>
                                    <div>
                                        <span>
                                            <img src="images/santa-barbara.png" alt="escudo Sta Barbara" id="escudos">
                                        </span>
                                        <span>
                                            <img src="images/escudociudad2.png" alt="escudo ciudad" id="escudos">
                                        </span>
                                        <span id="infopartido">
                                            <p>
                                                <strong>Fecha 5 - Visitante</strong>
                                                <br>Viernes 09/06/2023 - A definir.
                                            </p>
                                        </span>
                                    </div>
                                </div>
                                <div id="partidos3">
                                    <strong>Bco. Ciudad</strong> Vs Rhino
                                    <div>
                                        <span>
                                            <img src="images/escudociudad2.png" alt="escudo ciudad" id="escudos">
                                        </span>
                                        <span>
                                            <img src="images/rhino.png" alt="escudo rhino" id="escudos">
                                        </span>
                                        <span id="infopartido">
                                            <p>
                                                <strong> Fecha 6 - Local</strong>
                                                <br>Viernes 15/06/2023 - A definir.
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row" id="videos">
                <div class="col-sm-6 col-md-5 col-lg-6" id="video1"><iframe width="281px" height="182px"
                        src="https://www.youtube.com/embed/RET8kMDkroM" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe></div>
                <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                    <iframe width="281px" height="182px" src="https://www.youtube.com/embed/HEp7mWOb1pM"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>