#escudo{
    z-index: 9999;
    position: absolute;
    top: 15px;
    left: 35px;
}
#navbarScroll{
    margin-left: 170px;
}
#buscador{
    color: white;
    border-color: white;
}
#buscador:hover{
    color: black;
    background-color: white;
}
.navbar{
    font-family: 'Roboto Condensed', sans-serif; 
    align-content: space-around;
    font-size: large;
}
.nav-item{
    border-left: solid 1px #000;
    float: left;
    margin-right: 10px;
    padding-left: 10px;
}
#navegadores:hover{
    color: black;
    background-color: #c4c4c4 ;    
}
.dropbtn{
    background:local;
    border: none;
    padding: 8px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color:#c4c4c4;
    color: black;
}
.hero{
    background: url(../img/fotociudad2.jpg);
    background-size: cover;
    min-height: 500px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif; 
    align-content: space-around;
    font-size: large;
}
#escudos{
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-right: 15px;
}
#infopartido{
    font-size: 15px;
    display: inline-block;
    margin-top: 5px;
}
#partidos2{
    margin-top: 30px;
}
#proximo{
    border: 1px solid #e1e1e1;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 120%;
}
#partidos3{
    margin-top: 30px;
}
#proximoPartido{
    text-align: left;
}
#pagPrincipal{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large; 
    margin-top: 25px;
}
#noticias{
    text-align: left;
    padding-bottom: 30px;
}
#fotos{
    filter: grayscale(85%) blur(2px) contrast(101%);
    -webkit-filter: grayscale(85%) blur(2px) contrast(101%);
    -moz-filter: grayscale(85%) blur(2px) contrast(101%);
    transition: 0.3s; 
}
#fotos:hover{
    transition: 0.3 ease;
    filter: none;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.button{
    border: none;
}
#carusel{
    padding-bottom: 0.5px;
    position: absolute;
}
#mapa{
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
#ubicacion{
    text-align: left;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding-left: 30px;
}
#informacion{
    font-size: 12px;
    margin-top: 20px;
}
#suspendido{
    color: red;
}
#publicaciones{
    width: 250px;
    height: 450px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#publis{
    margin-top: 70px;
}